
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#/////////////////////////
# Cloud
#/////////////////////////
!/profiles/v2/packages/builder.json
!.vscode/settings.json
.DS_Store
ehthumbs.db
Thumbs.db
